<div class="nk-chat-profile visible" data-simplebar>
    <div class="user-card user-card-s2 my-4">
        <div class="user-avatar md bg-purple">
            <span>IH</span>
        </div>
        <div class="user-info">
            <h5>Iliash Hossain</h5>
            <span class="sub-text">Active 35m ago</span>
        </div>
        <div class="user-card-menu dropdown">
            <a class="btn btn-icon btn-sm btn-trigger dropdown-toggle"
               data-toggle="dropdown"
               href="#"><em
                    class="icon ni ni-more-h"></em></a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="link-list-opt no-bdr">
                    <li><a href="#"><em class="icon ni ni-eye"></em><span>View Profile</span></a>
                    </li>
                    <li><a href="#"><em class="icon ni ni-na"></em><span>Block Messages</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="chat-profile">
        <div class="chat-profile-group">
            <a class="chat-profile-head" data-target="#chat-options"
               data-toggle="collapse"
               href="#">
                <h6 class="title overline-title">Options</h6>
                <span class="indicator-icon"><em
                        class="icon ni ni-chevron-down"></em></span>
            </a>
            <div class="chat-profile-body collapse show" id="chat-options">
                <div class="chat-profile-body-inner">
                    <ul class="chat-profile-options">
                        <li><a class="chat-option-link" href="#"><em
                                class="icon icon-circle bg-light ni ni-edit-alt"></em><span
                                class="lead-text">Nickname</span></a></li>
                        <li><a class="chat-option-link chat-search-toggle"
                               href="#"><em
                                class="icon icon-circle bg-light ni ni-search"></em><span
                                class="lead-text">Search
                                                                              In Conversation</span></a></li>
                        <li><a class="chat-option-link" href="#"><em
                                class="icon icon-circle bg-light ni ni-circle-fill"></em><span
                                class="lead-text">Change Theme</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="chat-profile-group">
            <a class="chat-profile-head" data-target="#chat-settings"
               data-toggle="collapse"
               href="#">
                <h6 class="title overline-title">Settings</h6>
                <span class="indicator-icon"><em
                        class="icon ni ni-chevron-down"></em></span>
            </a>
            <div class="chat-profile-body collapse show" id="chat-settings">
                <div class="chat-profile-body-inner">
                    <ul class="chat-profile-settings">
                        <li>
                            <div class="custom-control custom-control-sm custom-switch">
                                <input class="custom-control-input"
                                       id="customSwitch2"
                                       type="checkbox">
                                <label class="custom-control-label"
                                       for="customSwitch2">Notifications</label>
                            </div>
                        </li>
                        <li>
                            <a class="chat-option-link" href="#">
                                <em class="icon icon-circle bg-light ni ni-bell-off-fill"></em>
                                <div>
                                    <span class="lead-text">Ignore Messages</span>
                                    <span class="sub-text">You won’t be notified when message you.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="chat-option-link" href="#">
                                <em class="icon icon-circle bg-light ni ni-alert-fill"></em>
                                <div>
                                    <span class="lead-text">Something Wrong</span>
                                    <span class="sub-text">Give feedback and report conversion.</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="chat-profile-group">
            <a class="chat-profile-head" data-target="#chat-photos"
               data-toggle="collapse"
               href="#">
                <h6 class="title overline-title">Shared Photos</h6>
                <span class="indicator-icon"><em
                        class="icon ni ni-chevron-down"></em></span>
            </a>
        </div>
    </div>
</div>