<body class="nk-body bg-white npc-default pg-auth">
<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
    <!-- wrap @s -->
    <div class="nk-wrap nk-wrap-nosidebar">
      <!-- content @s -->
      <div class="nk-content ">
        <div class="nk-split nk-split-page nk-split-md">
          <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
            <div class="nk-block nk-block-middle nk-auth-body">
              <div class="brand-logo pb-5">
                <div class="brand-logo pb-5">
                  <h1 style="font-size: 55px; font-family: 'Potsdam',serif;">Useless Pride Record</h1>
                </div>
              </div>
              <div class="nk-block-head">
                <div class="nk-block-head-content">
                  <h5 class="nk-block-title">Inscription</h5>
                  <div class="nk-block-des">
                    <p>Créer un compte UPR</p>
                  </div>
                </div>
              </div><!-- .nk-block-head -->
              <form [formGroup]="form" (ngSubmit)="form.valid && signUp()">
                <div class="form-group">
                  <label class="form-label" for="name">Nom</label>
                  <div class="form-control-wrap">
                    <input type="text" formControlName="firstName" class="form-control form-control-lg" id="name" placeholder="John">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Prénom</label>
                  <div class="form-control-wrap">
                    <input type="text" formControlName="lastName" class="form-control form-control-lg" placeholder="Doe">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Adresse Email</label>
                  <div class="form-control-wrap">
                    <input type="email" formControlName="email" class="form-control form-control-lg"  placeholder="john.doe@gmail.com">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Mot de passe</label>
                  <div class="form-control-wrap">
                    <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="●●●●●●●●">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Répétez votre mot de passe</label>
                  <div class="form-control-wrap">
                    <input type="password" formControlName="confirmPassword" class="form-control form-control-lg" placeholder="●●●●●●●●">
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="!form.valid" value="Submit" class="btn btn-lg btn-primary btn-block">Inscription</button>
                </div>
              </form><!-- form -->
              <div class="form-note-s2 pt-4"> Déjà un compte ? <a [routerLink]="['/sign-in']"><strong>Connectez-vous !</strong></a>
              </div>
              <div class="text-center pt-4 pb-3">
                <h6 class="overline-title overline-title-sap"><span>OU</span></h6>
              </div>
              <ul class="nav justify-center gx-8">
                <li class="nav-item">
                  <a class="nav-link btn btn-dim btn-outline-light btn-action mt-3" (click)="googleSignUp()"><span>Inscription avec Google</span><em class="icon ni ni-google"></em></a>
                </li>
              </ul>
            </div><!-- .nk-block -->
            <div class="nk-block nk-auth-footer">
              <div class="nk-block-between">
              </div>
            </div><!-- nk-block -->
          </div><!-- nk-split-content -->
          <div class="nk-split-content nk-split-stretch bg-upr"></div><!-- nk-split-content -->
        </div><!-- nk-split -->
      </div>
      <!-- wrap @e -->
    </div>
    <!-- content @e -->
  </div>
  <!-- main @e -->
</div>
<!-- app-root @e -->
