<div class="card-inner card-inner-lg">
    <div class="nk-block-head">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Security Settings</h4>
                <div class="nk-block-des">
                    <p>These settings are helps you keep your account
                        secure.</p>
                </div>
            </div>
            <div
                    class="nk-block-head-content align-self-start d-lg-none">
                <a class="toggle btn btn-icon btn-trigger mt-n1"
                   data-target="userAside"
                   href="#"><em
                        class="icon ni ni-menu-alt-r"></em></a>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card">
            <div class="card-inner-group">
                <div class="card-inner px-0">
                    <div
                            class="between-center flex-wrap flex-md-nowrap g-3">
                        <div class="nk-block-text">
                            <h6>Save my Activity Logs</h6>
                            <p>You can save your all activity logs
                                including unusual activity detected.</p>
                        </div>
                        <div class="nk-block-actions">
                            <ul class="align-center gx-3">
                                <li class="order-md-last">
                                    <div
                                            class="custom-control custom-switch mr-n2">
                                        <input checked=""
                                               class="custom-control-input"
                                               id="activity-log"
                                               type="checkbox">
                                        <label
                                                class="custom-control-label"
                                                for="activity-log"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card-inner -->


                <!-- Change email -->
                <div class="card-inner px-0">
                    <div class="between-center flex-wrap g-3">
                        <div class="nk-block-text">
                            <h6>Update email</h6>
                            <p>Set a unique email to protect your
                                account.</p>
                        </div>
                        <div class="nk-block-actions flex-shrink-sm-0">
                            <ul
                                    class="align-center flex-wrap flex-sm-nowrap gx-3 gy-2">
                                <li class="order-md-last">
                                    <a class="btn btn-primary"
                                       data-target="#modalUpdateEmail"
                                       data-toggle="modal">Change
                                        email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card-inner -->

                <!-- Change password -->
                <div class="card-inner px-0">
                    <div class="between-center flex-wrap g-3">
                        <div class="nk-block-text">
                            <h6>Update Password</h6>
                            <p>Set a unique password to protect your
                                account.</p>
                        </div>
                        <div class="nk-block-actions flex-shrink-sm-0">
                            <ul
                                    class="align-center flex-wrap flex-sm-nowrap gx-3 gy-2">
                                <li class="order-md-last">
                                    <a class="btn btn-primary"
                                       data-target="#modalUpdatePassword"
                                       data-toggle="modal">Change
                                        Password</a>
                                </li>
                                <li>
                                    <em
                                            class="text-soft text-date fs-12px">Last
                                        changed: <span>Oct 2,
                                                                                            2019</span></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card-inner -->

                <!-- Delete account -->
                <div class="card-inner px-0">
                    <div
                            class="between-center flex-wrap flex-md-nowrap g-3">
                        <div class="nk-block-text">
                            <h6>Delete my account
                            </h6>
                            <p>We will delete all your data</p>
                        </div>
                        <div class="nk-block-actions">
                            <a class="btn btn-danger"
                               data-target="#modalDeleteAccount"
                               data-toggle="modal">Delete</a>
                        </div>
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->

    </div>
</div>


<!-- Update email -->
<div class="modal fade" id="modalUpdateEmail" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="title">Update email</h5>
                <a #modalUpdateEmail class="close" data-dismiss="modal" href="#">
                    <em class="icon ni ni-cross-sm"></em>
                </a>
            </div>

            <div class="modal-body ">
                <form (ngSubmit)="formUpdateEmail.valid && updateEmail()" [formGroup]="formUpdateEmail">


                    <!-- Email -->
                    <div class="form-group">
                        <label class="form-label" for="email">E-mail</label>
                        <input [ngClass]="{'is-invalid': formUpdateEmail.get('email')?.touched && formUpdateEmail.get('email')?.invalid}"
                               class="form-control form-control-lg" formControlName="email"
                               id="email" placeholder="Enter first name"
                               type="text">


                        <div *ngIf="formUpdateEmail.get('email')?.touched && formUpdateEmail.get('email')?.invalid"
                             class="invalid-feedback">
                            <div *ngIf="formUpdateEmail.get('email')?.errors?.required">
                                First name is required
                            </div>
                            <div *ngIf="formUpdateEmail.get('email')?.errors?.email">
                                First name is badly formatted
                            </div>
                        </div>
                    </div>


                    <!-- Submit -->
                    <div class="col-12 my-3">
                        <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                            <li>
                                <button [disabled]="!formUpdateEmail.valid" class="btn btn-lg btn-primary"
                                        type="submit">Update
                                    email
                                </button>
                            </li>
                            <li>
                                <a class="link link-light ml-3" data-dismiss="modal" href="#">Cancel</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div><!-- .modal -->
</div>


<!-- Update password -->
<div class="modal fade" id="modalUpdatePassword" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Update password</h5>
                <a #modalUpdatePassword aria-label="Close" class="close" data-dismiss="modal" href="#">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>


            <div class="modal-body">
                <form (ngSubmit)="formUpdatePassword.valid && updatePassword()" [formGroup]="formUpdatePassword">
                    <div class="row gy-4">


                        <!-- New password -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="password">New password</label>
                                <input [ngClass]="{'is-invalid': formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.get('confirmPassword')?.invalid || formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']}"
                                       class="form-control form-control-lg" formControlName="password"
                                       id="password" placeholder="Enter your new password"
                                       type="password">


                                <div *ngIf="formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.get('confirmPassword')?.invalid || formUpdatePassword.get('confirmPassword')?.touched &&  formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']"
                                     class="invalid-feedback">
                                    <div *ngIf="formUpdatePassword.get('password')?.errors?.required">
                                        Password is required
                                    </div>
                                    <div *ngIf="formUpdatePassword.get('password')?.errors?.minlength">
                                        Password should be at least 6 characters
                                    </div>
                                    <div
                                            *ngIf="formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']">
                                        Passwords do not match
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Confirm password -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label" for="confirmPassword">Confirm password</label>
                                <input [ngClass]="{'is-invalid': formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.get('confirmPassword')?.invalid || formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']}"
                                       class="form-control form-control-lg" formControlName="confirmPassword"
                                       id="confirmPassword" placeholder="Confirm your new password"
                                       type="password">


                                <div *ngIf="formUpdatePassword.get('confirmPassword')?.touched && formUpdatePassword.get('confirmPassword')?.invalid || formUpdatePassword.get('confirmPassword')?.touched &&  formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']"
                                     class="invalid-feedback">
                                    <div *ngIf="formUpdatePassword.get('confirmPassword')?.errors?.required">
                                        Confirm password is required
                                    </div>
                                    <div *ngIf="formUpdatePassword.get('confirmPassword')?.errors?.minlength">
                                        Confirm password should be at least 6 characters
                                    </div>
                                    <div
                                            *ngIf="formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']">
                                        Passwords do not match
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="col-12 my-3">
                            <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                <li>
                                    <button [disabled]="!formUpdatePassword.valid || !formUpdatePassword.valid || formUpdatePassword.value['password'] !== formUpdatePassword.value['confirmPassword']"
                                            class="btn btn-lg btn-primary"
                                            type="submit">Update
                                        Profile
                                    </button>
                                </li>
                                <li>
                                    <a class="link link-light ml-3" data-dismiss="modal" href="#">Cancel</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->


<!-- Delete account -->
<div class="modal fade" id="modalDeleteAccount" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>
                    <h4 class="nk-modal-title">Delete my account</h4>
                    <div class="nk-modal-text">
                        <p class="lead">We are sorry to see you go
                        <p class="text-soft">By clicking on this button, we undertake to delete all your
                            personal data</p>
                    </div>
                    <div class="nk-modal-action mt-5">
                        <a (click)="deleteAccount()" class="btn btn-lg btn-mw btn-light" data-dismiss="modal"
                           href="#">Delete
                            definitely my account</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>