<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
    <!-- sidebar @s -->
    <div class="nk-sidebar nk-sidebar-fixed is-dark" data-content="sidebarMenu">
      <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
          <a [routerLink]="['/home']" class="logo-link nk-sidebar-logo">
<!--            <img class="logo-light logo-img" src="../../../../assets/logo.png" srcset="../../../../assets/logo2x.png 2x" alt="logo">-->
            <div class="d-inline-flex align-center">
              <img class="logo-small logo-img logo-img-small" src="../../../../assets/icons/favicon.png"  alt="logo-small">
              <span style="font-family: 'Potsdam', cursive; color: white; font-size: 25px;" class="ml-2">Useless Pride</span>
            </div>
          </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
          <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
          <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        </div>
      </div><!-- .nk-sidebar-element -->
      <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
          <div class="nk-sidebar-menu" data-simplebar>
            <ul class="nk-menu">
              <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Dashboards</h6>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a [routerLink]="['/home']" class="nk-menu-link" [class.active]="getRoute() === '**'" >
                  <span class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span>
                  <span class="nk-menu-text">Home</span>
                </a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a [routerLink]="['/storage']" class="nk-menu-link" [class.active]="getRoute() === '/storage'" >
                  <span class="nk-menu-icon"><em class="icon ni ni-hard-drive"></em></span>
                  <span class="nk-menu-text">Stockage</span>
                </a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a [routerLink]="['/calendar']" class="nk-menu-link" [class.active]="getRoute() === '/calendar'" >
                  <span class="nk-menu-icon"><em class="icon ni ni-calender-date"></em></span>
                  <span class="nk-menu-text">Calendrier</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a [routerLink]="['/messaging']" class="nk-menu-link" [class.active]="getRoute() === '/messaging'" >
                  <span class="nk-menu-icon"><em class="icon ni ni-chat-fill"></em></span>
                  <span class="nk-menu-text">Messagerie</span>
                </a>
              </li>
                <li class="nk-menu-heading">
                  <h6 class="overline-title text-danger">Administrateur</h6>  
                </li>
                <li class="nk-menu-item">
                  <a  [routerLink]="['/admin']" [class.active]="getRoute() === '/admin'" class="nk-menu-link text-danger">
                    <span class="nk-menu-icon"><em class="icon ni ni-users-fill text-danger"></em></span>
                    <span class="nk-menu-text">Gestion des utilisateurs</span>
                  </a>
                </li>
              <li>
                <div><button [routerLink]="['/sign-in']">Connexion</button></div>
                <div><button [routerLink]="['/sign-up']">Inscription</button></div>
              </li><!-- .nk-menu-item --><!-- .nk-menu-item -->
<!--              <li class="nk-menu-item has-sub">-->
<!--                <a href="#" class="nk-menu-link nk-menu-toggle">-->
<!--                  <span class="nk-menu-icon"><em class="icon ni ni-files-fill"></em></span>-->
<!--                  <span class="nk-menu-text">Other Pages</span>-->
<!--                </a>-->
<!--                <ul class="nk-menu-sub">-->
<!--                  <li class="nk-menu-item">-->
<!--                    <a href="html/_blank.html" class="nk-menu-link"><span class="nk-menu-text">Blank / Startup</span></a>-->
<!--                  </li>-->
<!--                </ul>&lt;!&ndash; .nk-menu-sub &ndash;&gt;-->
<!--              </li>--><!-- .nk-menu-item -->
            </ul><!-- .nk-menu -->
          </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
      </div><!-- .nk-sidebar-element -->
    </div>
    <!-- sidebar @e -->
    <!-- wrap @s -->
    <div class="nk-wrap ">
      <!-- main header @s -->
      <div class="nk-header nk-header-fixed is-light">
        <div class="container-fluid">
          <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ml-n1">
              <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-brand d-xl-none">
              <a href="html/index.html" class="logo-link">
                <h1 style="font-size: 30px; font-family: 'Potsdam';">Useless Pride</h1>
              </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-tools">
              <ul class="nk-quick-nav">
                <li class="dropdown chats-dropdown hide-mb-xs">
                  <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                    <div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em></div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                    <div class="dropdown-head">
                      <span class="sub-title nk-dropdown-title">Derniers messages</span>
                    </div>
                    <div class="dropdown-body">
                      <ul class="chat-list">
                        <li class="chat-item">
                          <a class="chat-link" href="html/apps-chats.html">
                            <div class="chat-media user-avatar">
                              <span>IH</span>
                              <span class="status dot dot-lg dot-gray"></span>
                            </div>
                            <div class="chat-info">
                              <div class="chat-from">
                                <div class="name">Michel de la compta</div>
                                <span class="time">Now</span>
                              </div>
                              <div class="chat-context">
                                <div class="text">Vous: Michel c'est le brésil ?</div>
                                <div class="status delivered">
                                  <em class="icon ni ni-check-circle-fill"></em>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li><!-- .chat-item -->
                        <li class="chat-item is-unread">
                          <a class="chat-link" href="html/apps-chats.html">
                            <div class="chat-media user-avatar bg-pink">
                              <span>AB</span>
                              <span class="status dot dot-lg dot-success"></span>
                            </div>
                            <div class="chat-info">
                              <div class="chat-from">
                                <div class="name">Jean-Luc</div>
                                <span class="time">4:49 AM</span>
                              </div>
                              <div class="chat-context">
                                <div class="text">Il dance la samba</div>
                                <div class="status unread">
                                  <em class="icon ni ni-bullet-fill"></em>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li><!-- .chat-item -->
                      </ul><!-- .chat-list -->
                    </div><!-- .nk-dropdown-body -->
                    <div class="dropdown-foot center">
                      <a href="html/apps-chats.html">Voir tout</a>
                    </div>
                  </div>
                </li>
                <li class="dropdown user-dropdown">
                  <a href="#" class="dropdown-toggle mr-n1" data-toggle="dropdown">
                    <div class="user-toggle">
                      <div class="user-avatar sm">
                        <em class="icon ni ni-user-alt"></em>
                      </div>
                      <div class="user-info d-none d-xl-block">
                        <div class="user-status user-status-unverified">Administrateur</div>
                        <div class="user-name dropdown-indicator">John</div>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                      <div class="user-card">
                        <div class="user-avatar">
                          <span>AB</span>
                        </div>
                        <div class="user-info">
                          <span class="lead-text">John Doe</span>
                          <span class="sub-text">johndoe@gmail.com</span>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-inner">
                      <ul class="link-list">
                        <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Gestion de compte</span></a></li>
                        <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
                      </ul>
                    </div>
                    <div class="dropdown-inner">
                      <ul class="link-list">
                        <li><a href="#" class="text-danger"><em class="icon ni ni-signout text-danger"></em><span>Deconnexion</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div><!-- .nk-header-wrap -->
        </div><!-- .container-fliud -->
      </div>
      <!-- main header @e -->
      <!-- content @s -->
      <router-outlet></router-outlet>
      <!-- content @e -->
    </div>
    <!-- wrap @e -->
  </div>
  <!-- main @e -->
</div>
<!-- app-root @e -->
