<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container wide-xl">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-content-wrap">
                                <div class="nk-block-head">
                                    <div class="nk-block-between">

                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">My Profile</h3>
                                            <div class="nk-block-des">
                                                <p>You have full control to manage your own account setting.</p>
                                            </div>
                                        </div>
                                        <div class="nk-block-head-content">
                                            <a [routerLink]=" ['/home']" class="back-to"><em
                                                    class="icon ni ni-arrow-left"></em><span><span
                                                    class="d-none d-sm-inline-block">Back to</span>
                                                    home</span></a>
                                        </div><!-- .nk-block-head-content -->
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="card card-bordered">
                                        <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tabItemPersonal"><em
                                                        class="icon ni ni-user-fill-c"></em><span>Personal</span></a>
                                            </li>
                                            <li *ngIf="!admin" class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tabItemSecurity"><em
                                                        class="icon ni ni-lock-alt-fill"></em><span>Security
                                                        Settings</span></a>
                                            </li>
                                        </ul><!-- .nav-tabs -->

                                        <div class="tab-content">

                                            <!-- Tab item personal -->
                                            <div class="tab-pane active" id="tabItemPersonal">
                                                <app-personal [user]="user"></app-personal>
                                            </div>

                                            <!-- Tab item security -->
                                            <div *ngIf="!admin" class="tab-pane" id="tabItemSecurity">
                                                <app-security></app-security>
                                            </div><!-- .card -->
                                        </div><!-- .nk-block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content @e -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>
    </div>
</div>
