<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container wide-xl">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-content-wrap">
                                <div class="nk-block mt-5 pt-3">
                                    <div class="card card-bordered">

                                        <div class="tab-content">

                                            <!-- Tab item personal -->
                                            <div class="tab-pane active" id="tabItemPersonal">
                                                <app-personal [user]="user"></app-personal>
                                            </div>

                                            <!-- Tab item security -->
                                            <div *ngIf="!admin" class="tab-pane" id="tabItemSecurity">
                                                <app-security></app-security>
                                            </div><!-- .card -->
                                        </div><!-- .nk-block -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content @e -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>
    </div>
</div>
