<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <hot-table [colHeaders]="true"  [data]="dataset" [settings]="settings">
          <hot-column data="name" title="Lundi"></hot-column>
          <hot-column data="address" title="Mardi"></hot-column>
          <hot-column data="address" title="Mercredi"></hot-column>
          <hot-column data="address" title="Jeudi"></hot-column>
          <hot-column data="address" title="Vendredi"></hot-column>
        </hot-table>
      </div>
    </div>
  </div>
</div>
