<div class="nk-header nk-header-fixed is-light">
	<div class="container-fluid">
		<div class="nk-header-wrap">
			<div class="nk-menu-trigger d-xl-none ml-n1">
				<a class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu" href="#"><em
					class="icon ni ni-menu"></em></a>
			</div>
			<div class="nk-header-brand d-xl-none">
				<a class="logo-link" href="html/index.html">
					<h1 style="font-size: 30px; font-family: 'Potsdam';">Useless Pride</h1>
				</a>
			</div><!-- .nk-header-brand -->
			<div class="nk-header-tools">
				<ul class="nk-quick-nav">
					<app-navbar-messages></app-navbar-messages>
					<li class="dropdown user-dropdown">
						<a class="dropdown-toggle mr-n1" data-toggle="dropdown" href="#">
							<div class="user-toggle">
								<div class="user-avatar sm">
									<em class="icon ni ni-user-alt"></em>
								</div>
								<div class="user-info d-none d-xl-block">
									<div class="user-status user-status-unverified">{{user?.role}}</div>
									<div class="user-name dropdown-indicator">{{user?.firstName}}</div>
								</div>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
							<div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
								<div class="user-card">
									<div class="user-avatar">
										<span>AB</span>
									</div>
									<div class="user-info">
													<span
														class="lead-text">{{user?.firstName}} {{user?.lastName}}</span>
										<span class="sub-text">{{user?.email}}</span>
									</div>
								</div>
							</div>
							<div class="dropdown-inner">
								<ul class="link-list">
									<li>
                    <a [routerLink]="['/user-profile/'+user?.id]">
                    <em class="icon ni ni-setting-alt"></em><span>Gestion de compte</span>
                    </a>
									</li>
									<li><a class="dark-switch" href="#"><em
										class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>
								</ul>
							</div>
							<div class="dropdown-inner">
								<ul class="link-list">
									<li><a (click)="signOut()" class="text-danger"><em
										class="icon ni ni-signout text-danger"></em><span>Déconnexion</span></a>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><!-- .nk-header-wrap -->
	</div><!-- .container-fliud -->
</div>
