<li class="dropdown chats-dropdown hide-mb-xs">
	<a class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown" href="#">
		<div class="icon-status icon-status-na"><em class="icon ni ni-comments"></em>
		</div>
	</a>
	<div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
		<div class="dropdown-head">
			<span class="sub-title nk-dropdown-title">Derniers messages</span>
		</div>
		<div class="dropdown-body">
			<ul class="chat-list">
				<li class="chat-item">
					<a class="chat-link" href="html/apps-chats.html">
						<div class="chat-media user-avatar">
							<span>IH</span>
							<span class="status dot dot-lg dot-gray"></span>
						</div>
						<div class="chat-info">
							<div class="chat-from">
								<div class="name">Michel de la compta</div>
								<span class="time">Now</span>
							</div>
							<div class="chat-context">
								<div class="text">Vous: Michel c'est le brésil ?</div>
								<div class="status delivered">
									<em class="icon ni ni-check-circle-fill"></em>
								</div>
							</div>
						</div>
					</a>
				</li><!-- .chat-item -->
				<li class="chat-item is-unread">
					<a class="chat-link" href="html/apps-chats.html">
						<div class="chat-media user-avatar bg-pink">
							<span>AB</span>
							<span class="status dot dot-lg dot-success"></span>
						</div>
						<div class="chat-info">
							<div class="chat-from">
								<div class="name">Jean-Luc</div>
								<span class="time">4:49 AM</span>
							</div>
							<div class="chat-context">
								<div class="text">Il dance la samba</div>
								<div class="status unread">
									<em class="icon ni ni-bullet-fill"></em>
								</div>
							</div>
						</div>
					</a>
				</li><!-- .chat-item -->
			</ul><!-- .chat-list -->
		</div><!-- .nk-dropdown-body -->
		<div class="dropdown-foot center">
			<a href="html/apps-chats.html">Voir tout</a>
		</div>
	</div>
</li>