@import "assets/scss/dashlite.scss";
@import '~handsontable/dist/handsontable.full.css';

@font-face {
  font-family: 'Potsdam';
  src: url('assets/fonts/Potsdam.woff2') format('woff2'),
  url('assets/fonts/Potsdam.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


a:hover {
  cursor: pointer;
}
